body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Establece el ancho del contenedor principal al 100% */
.App {
  width: 100%;
}

.contenedor{
  max-width: 100%; /* Cambia el ancho a 100% */
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100%; /* Cambia el ancho a 100% */
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Ajusta el margen inferior del título */
.greeting {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}




.Counter {
  text-align: center;
  padding: 20px;
}

.Controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  font-size: 1.2rem;
  padding: 8px 16px;
  margin: 0 25px; /* Ajusta el margen horizontal de los botones de incremento y decremento */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Number {
  font-size: 1.5rem;
  margin: 0 16px;
}

.addToCart {
  margin-top: 20px; /* Ajusta el espacio superior para separar del contador */
}

.addToCart .Button {
  background-color: #28a745; /* Cambia el color de fondo */
}









.CardItem {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

.ItemHeader {
  margin: 0;
  font-size: 18px;
}

.ItemImg {
  width: 80%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.Info {
  margin: 8px 0;
}

.ItemFooter {
  text-align: center;
  margin-top: auto; /* Empuja el pie de página hacia la parte inferior de la tarjeta */
}

.Option {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px; /* Agrega espacio entre las tarjetas y el botón */
}






.ItemDetailContainer{
  max-width: 100%; /* Cambia el ancho a 100% */
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.ItemDetailContainer .CardItem{
  width: 450px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}




.custom-navbar .ActiveOption {
  background-color: #948d4c; /* Cambia el color de fondo de la opción activa */
  color: #fff; /* Cambia el color del texto de la opción activa */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.custom-navbar .Option{
  
  color: white; /* Cambia el color del texto de la opción activa */
  
  padding: 10px;
  height: auto;
  margin: 0px 20px;  
  font-weight: bold;
}